@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --global-leftright-padding: 6%;

  --font-size-xxl: 250px;
  --font-size-xl: 96px;
  --font-size-l: 72px;
  --font-size-m: 48px;
  --font-size-s: 32px;
  --font-size-body: 18px;

  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-very-dark-blue: #1b1d23;
  --color-dark-grey: #60636d;
  --color-medium-grey: #7d828f;
  --color-light-grey: #c8ccd8;
  --color-light-grey: #c8ccd8;
  --color-very-light-grey: #eeeff4;
}

html {
  box-sizing: border-box;
}

html,
button {
  font-family: "League Spartan", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-size: var(--font-size-m);
  font-weight: 700;
}

h4 {
  font-size: var(--font-size-s);
  font-weight: 700;
}

p,
button {
  font-size: var(--font-size-body);
  font-weight: 500;
  line-height: 1.6rem;
}

li {
  list-style: none;
}

a {
  font-size: var(--font-size-body);
  font-weight: 700;
  text-decoration: none;
  color: var(--color-medium-grey);
}

button {
  padding: 1.6rem 2.1rem;
  padding-top: 1.5rem;
  padding-right: 2.5rem;
  width: fit-content;
  border: none;

  background-color: var(--color-very-dark-blue);
  color: white;
}

button > img {
  position: relative;
  left: 10px;
  top: 6px;
}

/* 
  --------------------------------------------------------------------
    HEADER
  --------------------------------------------------------------------
*/

header > span,
.header-menu,
.hamburger-menu,
.banner-nav {
  display: none;
}

.header-nav {
  padding: 1.7rem var(--global-leftright-padding);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: 0 var(--global-leftright-padding);
  height: 560px;

  display: flex;
  align-items: center;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url(/assets/home/mobile/image-hero-paramour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
}

main > article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main h1 {
  font-size: 65px;
  font-weight: 500;
}

main button {
  margin-top: 6rem;
}

/* 
  --------------------------------------------------------------------
    WELCOME
  --------------------------------------------------------------------
*/

.home-welcome-section::before {
  content: "";

  margin-bottom: 4rem;
  width: 75px;
  height: 2px;

  background-color: var(--color-light-grey);
}

.home-welcome-section {
  padding: 0 var(--global-leftright-padding);
  margin: 4rem 0;

  display: flex;
  flex-direction: column;
}

.home-welcome-section > article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 
  --------------------------------------------------------------------
    SECONDARY BANNER
  --------------------------------------------------------------------
*/

.home-secondary-banner {
  padding: 0 var(--global-leftright-padding);
  height: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url(/assets/home/mobile/image-small-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
}

/* 
  --------------------------------------------------------------------
    FEATURED
  --------------------------------------------------------------------
*/

.home-featured {
  padding: 0 var(--global-leftright-padding);
  margin: 4rem 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-featured h2 {
  margin-bottom: 1rem;
}

.featured-project-list {
  display: grid;
  grid-template-areas:
    "project-1"
    "project-2"
    "project-3";
  grid-template-rows: repeat(3, 250px);
  grid-template-columns: 1fr;
  gap: 25px;

  color: white;
}

.featured-project-list > article h3 {
  display: none;
}

.featured-project-list > article a {
  color: var(--color-very-light-grey);
}

.featured-project-list > article {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.featured-project-list > article:nth-child(1) {
  grid-area: project-1;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url(/assets/home/mobile/image-del-sol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.featured-project-list > article:nth-child(2) {
  grid-area: project-2;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url(/assets/home/mobile/image-228b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.featured-project-list > article:nth-child(3) {
  grid-area: project-3;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url(/assets/home/mobile/image-prototype.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-featured button {
  width: auto;
}

/* 
  --------------------------------------------------------------------
    FOOTER
  --------------------------------------------------------------------
*/

footer {
  margin-top: 8rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-very-light-grey);
}

footer .logo {
  padding-top: 3rem;
  padding-left: 1.6rem;
  width: 150px;
  height: 150px;

  position: relative;
  bottom: 75px;

  background-color: var(--color-very-dark-blue);
}

footer ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  position: relative;
  bottom: 40px;
}
